{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Projects</h1>
<ul class="list-group list-group-flush" id="projects">
  {% for project in user.projects %}
  <li class="list-group-item">
    {{ project.data }}
    <button type="button" class="close" onClick="deleteProject({{ project.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <input name="project" id="project" class="form-control" placeholder="project name">
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Project</button>
  </div>
</form>
{% endblock %}
